{% extends "base.html" %}
{% block content %}

{{ macros.setting_input_text_and_buttons('jav_censored_tool_cd3_path', 'Path', [['select_cd3_path_btn', '경로 선택']], value=arg['jav_censored_tool_cd3_path'],  placeholder='-C 파일을 cd3으로 변경할 루트 폴더 경로') }}
{{ macros.m_row_start('0') }}
{{ macros.m_row_end() }}
{{ macros.m_button_group([['command_start_btn', '시작'],['command_start2_btn', '시작(자동변경)'], ['command_stop_btn', '중지']])}}

{{ macros.m_row_start('0') }}
{{ macros.m_row_end() }}

{{ macros.m_hr_head_top() }}
{{ macros.m_row_start('0') }}
{{ macros.m_col(2,  macros.m_strong('Path')) }}
{{ macros.m_col(10,  macros.m_strong('Info')) }}
{{ macros.m_row_end() }}
{{ macros.m_hr_head_bottom() }}
<div id="list_div"></div>


<script type="text/javascript">

var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub']}}";
var current_data = null;
socket = io.connect(window.location.protocol + "//" + document.domain + ":" + location.port + "/" + package_name + '/' + sub);

$(document).ready(function(){
});

socket.on('start', function(data){
  send_command('cd3', 'data', '', '');
});

socket.on('data', function(data){
  make_list(data);
});

function make_list(data2) {
  current_data = data2;
  data = data2.data;
  str = '';
  if (data2.status) {
    str += '<br><h4>탐색중...</h4>'
  }
  if (data == null || data.length == 0) {
    str += '<br><h4>목록이 없습니다.</h4>'
  } else {
    for (i in data) {
      row = '';
      row += m_row_start_hover();
      row += m_col(2, data[i].code);
      
      tmp = '<b>폴더</b> : ' + data[i].base;
      tmp += '<br><b>코드 파일 목록</b><br>'
      for (j in data[i].files) {
        tmp += m_row_start(0);
        //tmp += m_col(1, '');
        tmp += m_col(4, data[i].files[j].filename);
        tmp += m_col(2, humanFileSize(data[i].files[j].info.format.size));// + ' (' + data[i].files[j].info.format.size + ')');
        tmp += m_col(2, data[i].files[j].info.format.duration_str);
        tmp += m_col(2, humanFileSize(data[i].files[j].info.format.bit_rate) + '/s');
        tmp += m_col(2, data[i].files[j].info.streams[0].width + 'x' + data[i].files[j].info.streams[0].height);
        tmp += m_row_end();
      }
      tmp += '<br><b>파일명 변경</b><br>'
      for (j in data[i].fix_files) {
        
        if (data[i].fix_files[j].ret == '') {
          tmp += '' + data[i].fix_files[j].filename;
          tmp += '<br><div class="container-fluid row"><div class="input-group col-sm-6 form-inline"><input id="'+i+'_'+j+'_newfilename" name="'+i+'_'+j+'_newfilename" class="form-control form-control-sm" value="'+data[i].fix_files[j].newfilename+'"></div>';
          tmp2 = m_button('change_btn', '파일명 변경', [{'key':'idx', 'value':i+'_'+j}]);
          tmp2 += m_button('delete_btn', '파일 삭제', [{'key':'idx', 'value':i+'_'+j}]);
          tmp2 += m_button('play_btn', 'Play', [{'key':'idx', 'value':i+'_'+j}, {'key':'filename', 'value':data[i].base + '/' + data[i].fix_files[j].filename}]);
          tmp2 += m_button('json_btn', '비디오 정보', [{'key':'idx1', 'value':i}, {'key':'idx2', 'value':j}]);
          tmp += m_button_group(tmp2)
          tmp += '</div>';
        } else if (data[i].fix_files[j].ret == 'change_True') {
          tmp += '<b>' + data[i].fix_files[j].filename;
          tmp += ' => ' + data[i].fix_files[j].newfilename + ' 변경</b><br>';
        } else if (data[i].fix_files[j].ret == 'change_False') {
          tmp += '<b>' + data[i].fix_files[j].filename;
          tmp += ' => ' + data[i].fix_files[j].newfilename + ' 변경 실패</b><br>';
        } else if (data[i].fix_files[j].ret == 'delete_True') {
          tmp += '<b>' + data[i].fix_files[j].filename + ' 삭제</b><br>';
        } else if (data[i].fix_files[j].ret == 'delete_False') {
          tmp += '<b>' + data[i].fix_files[j].filename + ' 삭제 실패</b><br>';
        }
      }

      row += m_col(10, tmp);
      row += m_row_end();
      /*
      if (i == 0) {
        str = row;
      } else {
        str = row + m_hr(0) + str;
      }
      */
     str += row;
      if (i != data.length -1) str += m_hr();
    }
  }
  document.getElementById("list_div").innerHTML = str;
}




$("body").on('click', '#select_cd3_path_btn', function(e){
  e.preventDefault();
  var path = $('#jav_censored_tool_cd3_path').val().trim();
  if (path == '') path = '/'
  m_select_local_file_modal("cd3 작업 경로", path, true, function(result){
    $('#jav_censored_tool_cd3_path').val(result);
  });
});

$("body").on('click', '#command_start_btn', function(e){
  e.preventDefault();
  send_command('cd3', 'start', $('#jav_censored_tool_cd3_path').val().trim(), 'false');
});


$("body").on('click', '#command_start2_btn', function(e){
  e.preventDefault();
  send_command('cd3', 'start', $('#jav_censored_tool_cd3_path').val().trim(), 'true');
});

$("body").on('click', '#command_stop_btn', function(e){
  e.preventDefault();
  send_command('cd3', 'stop', '', '');
});

$("body").on('click', '#change_btn', function(e){
  e.preventDefault();
  idx = $(this).data('idx');
  send_command('cd3', 'change', idx, $('#' + idx + '_newfilename').val().trim());
});


$("body").on('click', '#delete_btn', function(e){
  e.preventDefault();
  idx = $(this).data('idx');
  send_command('cd3', 'delete', idx, '');
});

function send_command(name, command, arg1, arg2) {
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/send_command',
    type: "POST", 
    cache: false,
    data:{name:name, command:command, arg1:arg1, arg2:arg2},
    dataType: "json",
    success: function (ret) {
      if (command == 'data') {
        make_list(ret);
      
      } else {
        notify(ret.msg, ret.ret);
      }
      if (command == 'change' || command == 'delete') {
        make_list(ret.list_data);
      }
    }
  });
}


$("body").on('click', '#play_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var filename = $(this).data('filename');
  url = window.location.protocol + "//" + window.location.host + '/ffmpeg/streaming?mode=file&value=' + filename;
  document.getElementById("video_modal_title").innerHTML = filename;
  str = '<video oncontextmenu="return false;" id="video_modal_video" width="766" controls autoplay muted preload="metadata">';
  console.log(url);
  if (filename.endsWith('.mp4')) {
    str += '<source src="' + url + '" type="video/mp4"></video>';
  } else {
    str += '<source src="' + url + '" type="video/webm"></video>';
  }
  document.getElementById("video_player_body").innerHTML = str;
  $("#video_modal").modal();
});

$("body").on('click', '#json_btn', function(e){
  e.preventDefault();
  var idx1 = parseInt($(this).data('idx1'));
  var idx2 = parseInt($(this).data('idx2'));
  m_modal(current_data.data[idx1].files[idx2].info);
});




</script> 

{% endblock %}
